/* Font*/
@font-face {
  font-family: 'FuturaBT-Light';
  src: url('fonts/FuturaBT-Light.eot');
  src: url('fonts/FuturaBT-Light.woff2') format('woff2'),
       url('fonts/FuturaBT-Light.woff') format('woff'),
       url('fonts/FuturaBT-Light.ttf') format('truetype'),
       url('fonts/FuturaBT-Light.svg#FuturaBT-Light') format('svg'),
       url('fonts/FuturaBT-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBT-Book';
  src: url('fonts/FuturaBT-Book.eot');
  src: url('fonts/FuturaBT-Book.woff2') format('woff2'),
       url('fonts/FuturaBT-Book.woff') format('woff'),
       url('fonts/FuturaBT-Book.ttf') format('truetype'),
       url('fonts/FuturaBT-Book.svg#FuturaBT-Book') format('svg'),
       url('fonts/FuturaBT-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


/* Corrects `block` display not defined in IE 8/9. */
article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
nav,
section,
summary {
    display: block;
}

.container{
    max-width: 1600px;
}

section, footer{
    
    margin: 150px 20px auto 20px;
}
/* Prevents iOS text size adjust after orientation change, without disabling user zoom. */
html {
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}
/* Removes default margin. */
body {

    margin: 0;
    color: #000000;
    font-family: 'FuturaBT-Light';
    font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  height: 100%;
  justify-content: center;
  align-items: center;

}


/* Addresses `outline` inconsistency between Chrome and other browsers. */
a:focus {
    outline: thin dotted;
}
/* Improves readability when focused and also mouse hovered in all browsers. */
a:active,
a:hover {
    outline: 0;
}
/* Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome. */
a:visited {
    color: black;
}
strong {
    font-weight: bold;
}
/* Addresses styling not present in IE 8/9. */
mark {
    background: #ff6;
    color: #444;
}
/* Corrects font family set oddly in Safari 5 and Chrome. */
code,
pre {
    font-family: monospace, serif;
    font-size: 1em;
}
/* Improves readability of pre-formatted text in all browsers. */
pre {
    white-space: pre;
}
/* Removes border when inside `a` element in IE 8/9. */
img {
    border: 0;
    max-width: 100%;
    vertical-align: top;
}
/* Addresses margin not present in IE 8/9 and Safari 5. */
figure {
    margin: 0;
}
/* 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome. */
button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}
/* Addresses Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
button,
input {
    line-height: normal;
}
/* 1. Avoid the WebKit bug in Android 4.0.* where (3) destroys native `audio` and `video` controls.
 * 2. Improves usability and consistency of cursor style between image-type `input` and others.
 * 3. Corrects inability to style clickable `input` types in iOS. */
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    cursor: pointer; /* 2 */
    -webkit-appearance: button; /* 3 */
}
/* 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9. */
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}
/* Removes inner padding and border in Firefox 4+. */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
/* 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers. */
textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}
/* Remove most spacing between table cells. */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

  /**********************/
 /* Default Typography */
/**********************/

html {
    color: #444;
    font-family: sans-serif;
    font-size: 100%;
}
h1
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin: 0;
}
h1 {
  font-size: 50px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: normal;
  color: #000000;
}
h2 {
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  font-family: 'FuturaBT-Book';
}
h3 {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #282828;
  font-family: 'FuturaBT-Book';
  margin-top: 20px;
}
h4 {
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      color: #282828;
      margin-top: 20px;
      font-family:'FuturaBT-Book';
}
h5 {
    font-size: 1.125em; /* 18 */
    line-height: 1.333333333; /* 24 / 18 */
    margin-bottom: 1.333333333em; /* 24 / 18 */
}
h6 {
    font-size: 1em; /* 16 */
    line-height: 1.5; /* 24 / 16 */
    margin-bottom: 1.5em; /* 24 / 16 */
}
p,
blockquote {
    font-size: 1em; /* 16 */
    margin: 0 0 1.5em; /* 24 / 16 */
    line-height: 1.5; /* 24 / 16 */
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}
p a:link,
p a:visited {
    border-bottom: 2px solid #6af;
    color: #444;
    padding-bottom: 1px;
    text-decoration: none;
    -webkit-transition: .25s;
       -moz-transition: .25s;
        -ms-transition: .25s;
         -o-transition: .25s;
            transition: .25s;
}
p a:hover,
p a:focus {
    color: #6af;
}
p a:active {
    position: relative;
    top: 1px;
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
}
dl,
ol,
ul {
    font-size: 1em; /* 16 */
    margin: 0 0 1.5em; /* 24 / 16 */
    padding: 0;
}
dd,
dt,
li {
    line-height: 1.5; /* 24 / 16 */
    margin: 0;
}

p {
  font-family: NotoSans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.79;
  letter-spacing: normal;
  color: #282828;
}



/* ----------------------------
-----------Nav Bar ------------
----------------------------- */
.navbar a{
    color: black;
}

.navbar{
    margin: 50px 20px 50px 50px ;

}

.navbar-nav li{
  margin: 0 30px 0 30px;
  display: inline-block;
  list-style: outside none none;
  padding: 0;
}

#rrlogo{
    height: 68px;
}

.navbar-nav a:before, .navbar-nav a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.navbar-nav a:before{
  bottom: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: rgb(238, 72, 62);
}

.navbar-nav a:after{
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: #ffffff;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}

.active .nav-link a,.navbar-nav a:hover:before, .current a:before {
  opacity: 1;
  width: 100%;
}

.navbar-nav a:hover:after, .navbar-nav .current a:after {
  max-width: 100%;
}

.navbar a{
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}


#home .navbar a, #lab .navbar a, #game .navbar a{
  color: white;
}

#home .navbar img, #lab .navbar img, #game .navbar img{
    filter: brightness(0) invert(1);
}

.navabar-nav * {
  box-sizing: border-box;
}

.navbar-brand #rrlogo-full{
  opacity:0;
  height:55px;
  width: auto;
  margin-top:13px;
  margin-left: 40px;
  transition: opacity 1s, margin-left 1s;
  z-index: 1;
}

#rrlogo:hover + #rrlogo-full{
 opacity: 1;
 margin-left: 8px;
}

#lab .nav-active a, #game .nav-active a{
    color: black;
}

#lab .nav-active img, #game .nav-active img{
    filter: none;
}

.navbar-nav{
    display: block;
}
/* ----------------------------
-----------Full Page Img Bg ------------
----------------------------- */
.full-page{
/* The image used */
    background-image: url("../img/35@3x.png");

    /* Full height */
    height: 1080px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 2s linear;
}

/* ----------------------------
-----------Decoration ------------
----------------------------- */

.rect_title_black_big{
  width: 300px;
  height: 3px;
  background-color: #000000;
}

.rect_title_red_xbig{
  width: 0%;
  height: 4px;
  background-color: #ff5f5f;
  margin-top: 40px;
}

.rect_title_white_big{
  width: 403px;
  height: 3px;
  background-color: #FFFFFF;
  margin-top: 24px;
}

.rect_title_grey_big{
  width: 100%;
  height: 4px;
  background-color: #d8d8d8;
  
}


/* ----------------------------
-----------Home Page ------------
----------------------------- */

.rect_title_red_xbig{
    -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;

}

.scrolling-block a{
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration: none;
}

.scrolling-block:hover .rect_title_red_xbig{
    width:100%;
}

.scrolling-block:hover{
    opacity: 1;
}

.scrolling-block{
    width: 7%;
    opacity:0.3;
    -webkit-transition: all 1s ease;
  transition: all 1s ease;

}

.scrolling-block:hover {
   cursor: e-resize;
}

#imgs{
  overflow:hidden;
  position:absolute;
  left:0; bottom:0;

  width:300%;
  height:100%;
  display:flex;
  justify-content:space-around;
  align-items:center;
  margin:0 25%;  
}
#imgs > div{
  overflow:hidden;
  max-width: 9%;
  perspective:500px;
  z-index:1;
}
#imgs .scrolling-block{
    
  display:block;
  max-width:100%;
  height:auto;  
}

.horizontal-slider h3{
  font-family: 'FuturaBT-Book';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.horizontal-slider h1{
  margin-top: 30px;
  font-family: 'FuturaBT-Book';
  font-size: 4vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
  color: #ffffff;
}

.bottom-left{
    position: fixed;
    left:80px;
    bottom: 50px;
    width: 267px;
}

.bottom-left h2{
  font-family: 'FuturaBT-Book';
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}


.bottom-right{
    position: fixed;
    right:80px;
    bottom: 50px;
    text-align: right;
}

.bottom-left p, .bottom-right p{
  font-family: 'FuturaBT-Book';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #ffffff;
  margin-top: 30px;
}

  

/* ----------------------------
-----------Works, Contact, About, R&D Pages ------------
----------------------------- */


#works p, .contact p, .about p, .lab p{
  margin-top: 49px;
  font-family: "Noto Sans";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.79;
  letter-spacing: normal;
  color: #282828;
}

#gallery .gallery {
    padding: 2px; 
}


.top-left {
    position: absolute;
    top: 40px;
    left: 50px;
}

.gallery-title{
  font-family: 'FuturaBT-Light';
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.55;
  letter-spacing: normal;
  color: #ffffff;
}

.gallery-sub-title{
  font-family: 'FuturaBT-Light';
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.95;
  letter-spacing: normal;
  color: #ffffff;
}

#gallery img {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
       /* IE5+ */
      filter: brightness(0.5) grayscale(1);
      -webkit-filter: brightness(0.5) grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .5s ease-in-out;  
}

#gallery img:hover{
    filter: none;
      -webkit-filter: brightness(1) grayscale(0);
      color: black;
}

#gallery img:hover + .vmoji-color{
    -webkit-filter: invert(0.7); /* Safari */
    filter: invert(0.7);
    -webkit-transition: all .5s ease-in-out;
}

.members img{
    margin: 130px auto 0 auto;
}

.member-description{
    width: 323px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 35px;
    
}

.member-description-no-photo{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
   
    margin-top: 70px;
}

.member-name{
  font-family: 'FuturaBT-Book';
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.93;
  letter-spacing: normal;
  color: #282828;
}

.job-title{
  font-family: 'FuturaBT-Book';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.63;
  letter-spacing: normal;
  color: #282828;
}

.job-history{
  font-family: "Noto Sans";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: #282828;
  opacity: 0.5;
}

.middle{
   width: 90%;
   margin-left: auto;
   margin-right: auto;
}

.intro{
    position: absolute;
    width: 33%;
    left: 70px;
    bottom: 80px;
}

.intro h1{
    color: white;
}

.intro p{
  font-family: "Noto Sans";
  margin-top: 35px;
  width:377px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #ffffff;
  word-break: keep-all 
}


.lab img{
    text-align: center;
    height: 170px;
    margin-top: 100px;
}


.lab h2{
  font-family: 'FuturaBT-Book';
  height: 26px;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  width: 80%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 20px;
}

.lab .rect_title_black_big{
    margin: auto;
}

.lab p{
  font-family: "Noto Sans";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: #282828;
  width: 80%;
  margin: auto;
  margin-top: 40px;
  
}

.port-item {
  width: 30%;
  min-width: 0;
}

@media screen and (max-width: 768px) {
  .partners {
    flex-direction: column !important;
  }
  .port-item {
    width: 100%;
  }
}

.partners{
    margin-top: 100px;
}

/* ----------------------------
----------- Works pages ------------
----------------------------- */

.button {
  --offset: 10px;
  --border-size: 2px;
  display: block;
  position: relative;
  padding: 1.5em 3em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  background: transparent;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: .25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background .8s ease;
  margin-top: 100px;

}
.button:hover {
  background: rgba(100, 0, 0, 0.03);
}
.button__horizontal, .button__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: -webkit-transform .8s ease;
  transition: transform .8s ease;
  transition: transform .8s ease, -webkit-transform .8s ease;
  will-change: transform;
}
.button__horizontal::before, .button__vertical::before {
  content: '';
  position: absolute;
  border: inherit;
}
.button__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}
.button__horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}
.button:hover .button__horizontal {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.button__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}
.button__vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}
.button:hover .button__vertical {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.game h4{
  font-family: "Noto Sans";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: #282828;
}

.game .video{
    margin-top: 100px;
}


/* ----------------------------
-----------Footer ------------
----------------------------- */

footer{
    padding-bottom: 85px;
}

footer .ti{
  font-family: "Noto Sans";
  font-size: 14px;
  font-weight: bolder;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 10px;
}

footer .te {
  font-family: "Noto Sans";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 10px;

}


footer #corporation{
  font-family: 'FuturaBT-Book';
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #000000;
  margin-top: 20px;
}

footer .marge-bot{
    margin-bottom: 15px;
}



/* ----------------------------
-----------Map ------------
----------------------------- */

#gmap_canvas{
    overflow:hidden;
    height:560px;
    width:100%;
    margin-top: 35px;
}

/* ----------------------------
----------- Logo Color ------------
----------------------------- */

.logo-black{
    filter: brightness(0) invert(0);
}



/* ----------------------------
----------- Media Query ------------
----------------------------- */

@media screen and (max-width: 1200px) {

  #works h1, .about h1, .contact h1, .contact h3, .contact h4 {
    margin-top: 50px;
  }

@media screen and (max-width: 768px) {
  
  #gallery img{
      filter: none;
      -webkit-filter: brightness(1) grayscale(0);
    }

  .vmoji-color{
    -webkit-filter: invert(0.7); /* Safari */
    filter: invert(0.7);
    -webkit-transition: all .5s ease-in-out;
  }

  .intro{
    position: absolute;
    width: 100%;
    margin: auto;
    
    top: 30%;
    text-align: center;
   
    }

   .intro p{
        width:80%;
        margin: auto;
        margin-top: 50px;
   } 


   .intro .rect_title_white_big{
        width:80%;
        margin: auto;
        margin-top: 50px;
   }

   .intro button{
        width:80%;
        margin: auto;
        margin-top: 50px;
   }


   .bottom-right{
    visibility: hidden
    
    }

  .navbar-nav  {
  width:100vh;    
  height:0px;
  position:fixed;
  -webkit-transform-origin: left top;
  -webkit-transform:rotate(-90deg) translateX(-80%);
  }
    
  header ul.nav li {    
 
  float:right;
  height:100%;
  line-height:45px;
}

  .container{
      width: 80vw;
  }

  .navbar{
      margin: 0px;
      padding: 0 0 0  0;
      font-family: 'FuturaBT-Book';
      font-size: 18px;

  }

  .navbar-nav{
      top:100px;
      left:20px;
  }

  .navbar-brand{
      padding: 25px 0 0 20px;
  }

  #works h1, .contact h1, .about h1, .lab h1 {
    font-size: 30px;
  }

  .intro {
    width: 80%;
    margin: auto;
  }

  .rect_title_black_big{
  width: 250px;
  height: 3px;
  background-color: #000000;
}
.rect_title_white_big{
  width: 250px;
  height: 3px;
  background-color: #FFFFFF;
  margin-top: 24px;
}

}



