html {
    /*touch-action: none;*/
    /*content-zooming: none;*/
}

body {
    /* Roboto weight
    * thin 100
    * light 300
    * regular 400
    *  medium 500
    * bold 700
    * black 900
    */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    outline: none;
}

h1,h2,h3,h4,h5,h6,ul,li {
    padding:0;
    margin: 0;
}

.clearfix::before, .clearfix::after {
    content:"";
    display:table;
}
.clearfix::after {
    clear:both;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.con {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.d-hide {
    display: none;
}


.ico {
    padding: 80px 0;
    background: #ebebeb url('../img/bg_ico.png') center bottom repeat-x;
    background-size: 100% auto;
}



.ico-page {
    display: none;
    text-align: center;
}

.ico-title {
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 10px;
}

.ico-title > strong{
    color: #00b1ce;
    font-weight: 900;
}

.ico-subtitle {
    font-size: 1.1em;
    margin-bottom: 30px;
    font-weight: 300;
}

.ico-page.active {
    display: block;
}


.btn1 {
    display: inline-block;
    font-size: 20px;
    height: 72px;
    text-align: center;
    line-height: 72px;
    padding: 0 90px;
    background: #00b1ce;
    color: #fff;
    border-radius: 35px;
    font-weight: 300;
    /*box-shadow: 4px 4px 0 rgba(0,0,0,0.17);*/
}

.btn1.btn1-strong {
    background: #1d8cf4;
}

.btn1.btn1-strong:hover {
    background: #0477e3;
}

.btn1:hover {
    background: #29bbd3;
}

.upcomming-subtitle {

    padding: 20px 0;
}

.upcomming-subtitle > a{
    color: #728294;
    text-decoration: underline;
}



.features {
    padding: 8.75em 0;
}

.features > .features-title{
    display: none;
}

ul.features-list {

}

ul.features-list > li{
    margin-bottom: 10em;
    width: 100%;
}

ul.features-list > li:last-child{
    margin-bottom: 0;
}

.features-item-odd .features-img {
    float: right;

}

.features-item-odd .features-con {
    padding-right: 8%;
    padding-left: 0;
}

.features-img {
    width: 45%;
    float: left;
    opacity: 0;
    transform: translateX(60px);
    transition: all 0.8s;

}



#features-02 .features-img,
#features-04 .features-img{
    transform: translateX(-60px);
}

.active .features-img {
    transform: translateX(0px)!important;
    opacity: 1;
}

.features-img img{
    display: block;
    width: 100%;
    border-radius: 8px;
}

.features-con {
    width: auto;
    overflow: hidden;
    padding-left: 8%;
    padding-right: 0;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease-in;

}
.active .features-con {
    transform: translateX(0px);
    opacity: 1;
}


.features-desc {
    color: #888;
    font-size: 1.15em;
    font-weight: 300;
    line-height: 1.5em;
}

.features-title {
    margin: 0 0 25px 0;

}


.whitepaper {
    background: #f2f2f2;
    padding: 5em 0;
}

.whitepaper-title {

}

.whitepaper-title-wrap {
    /*float: left;*/
    /*width: 50%;*/
    /*padding-left: 50px;*/
    /*background: url('../img/paper.png') left top no-repeat;*/
    /*background-size: 70px 79px;*/
    text-align: center;
    margin-bottom: 30px;
}

.whitepaper-subtitle {
    font-size: 1.25em;
    padding-top: 5px;
    color: #333;
    font-weight: 400;
}


.whitepaper-download {
    margin: 0 auto;
}

.whitepaper-download-area {
    background: #3c8ee3;
    color: #fff;
    /*float: right;*/
    transition: width 0.2s;
    height: 80px;
    overflow: hidden;
    width: 450px;
    position: relative;
    margin: 0 auto;

}

.whitepaper-download-area.active {
    width: 650px;
}

.whitepaper-download-title {
    font-size: 1.5em;
    font-weight: 100;

}

.whitepaper-download-subtitle {
    color: #fdff46;
    font-size: 1em;
    font-weight: 300;
}

.whitepaper-download-ico {
    float: left;
    width: 50px;
    font-size: 30px;
    color: #fff;
}

.whitepaper-part-1 {
    padding: 20px 35px;
    position: absolute;
    cursor: pointer;
    left: 0;
    width: 100%;
    top: 0;
    transition: left 0.2s;
}

.whitepaper-part-1.active {
    left: -100%;
}

.whitepaper-download-con {
    width: auto;
    overflow: hidden;
}

.whitepaper-part-2 {
    position: absolute;
    right: -100%;
    width: 100%;
    text-align: center;
    font-size: 1.25em;
    transition: right 0.2s;
}

.whitepaper-part-2.active {
    right: 0;
}

.whitepaper-part-2 > a{
    display: inline-block;
    color: #bddeff;
    padding: 0 8px;
    line-height: 80px;
    font-size: 0.95em;
}

.whitepaper-part-2 > a.disable{
    opacity: 0.4;
}
.whitepaper-part-2 > a.disable:hover{
    color: #bddeff;
}


.whitepaper-part-2 > a:hover{
    color: #fff;
}

.whitepaper-part-2 > .back {
    color: #fff;
}



.roadmap-title {
    text-align: center;
    margin-bottom: 80px;
}

.stitle {
    font-size: 2.55em;
    font-weight: 100;
}

.roadmap-body{
    height: 590px;
    width: 100%;
    background: url('../img/worldmap.png') center center no-repeat;
    background-size: 80%;
    overflow: hidden;
    transition : all 0.6s ease-in;
}

.active .roadmap-body {
    background-size: 90%;
}

.roadmap-ob-1 {
    position: absolute;
    z-index: 1;
    height: 30px;
    background: #aeaeae;
    opacity: 0.5;
    width: 0%;
    top: 22px;
    left: 80px;
    transition: width 0.8s ease-in;
}

.roadmap-list-wrap {
    overflow: hidden;
    width: 95%;
    margin: 170px auto 0;
    position: relative;
}

.roadmap-list {

    position: relative;
    z-index: 2;

}

.roadmap-list > li{
    float: left;
    width: 14.2%;
    text-align: center;
}

.roadmapitem-img {
    margin-bottom: 13px;
    opacity: 0;
    transform: scale(0.1);
    transition: all 0.6s ease-in-out;
}

.active .roadmapitem-img {
    opacity: 1;
    transform: scale(1);
}

.active .roadmap-item-01 .roadmapitem-img {
    transition-delay: 0s;
}

.active .roadmap-item-02 .roadmapitem-img {
    transition-delay: 0.05s;
}
.active .roadmap-item-03 .roadmapitem-img {
    transition-delay: 0.1s;
}
.active .roadmap-item-04 .roadmapitem-img {
    transition-delay: 0.15s;
}
.active .roadmap-item-05 .roadmapitem-img {
    transition-delay: 0.2s;
}
.active .roadmap-item-06 .roadmapitem-img {
    transition-delay: 0.25s;
}
.active .roadmap-item-07 .roadmapitem-img {
    transition-delay: 0.3s;
}

.active .roadmap-ob-1 {
    width: 85%;
}

.roadmapitem-title {
    height: 30px;
    margin-bottom: 13px;
    background: url('../img/roadmap_line.png') left bottom repeat-x;
    color: #000;
}
.roadmapitem-title > h2{
    font-size: 1.375em;
    font-weight: 100;
}

.roadmapitem-title > h2 > strong{
    font-weight: 700;
}

.roadmapitem-con {
    color: #000;
    padding-left: 22px;
    padding-right: 22px;
}

.roadmapitem-title,
.roadmapitem-con {
    opacity: 0;
    transition: all 0.8s ease-out;
    transform: translateY(20px);
}

.active .roadmapitem-title,
.active .roadmapitem-con {
    opacity: 1;
    transform: translateY(0);
}


.roadmap-soft {
    color: #dd504c;
    font-size: 1.1em;
    font-weight: 700;
}

.roadmap-global {
    color: #156cc5;
    font-size: 1.1em;
    font-weight: 700;
}

.tokensale {
    background: #3f444d;
    padding: 5em 0;
}

.tokensale-title {
    margin-bottom: 80px;
    color: #fff;
    text-align: center;
}


.tokensale-part {
    margin-bottom: 7em;
}
.tokensale-part:last-child {
    margin-bottom: 0;
}

.tokensale-part > h2 {
    color: #abc9ff;
    font-weight: 100;
    font-size: 1.55em;
    margin-bottom: 35px;
}

.tokensale-details-list {
    white-space: nowrap;
    width: 100%;

}

.tokensale-details-list .tokensale-details-title {
    color: #b0b2b5;
    font-size: 1em;
    margin-bottom: 3px;
    width: 100%;
    font-weight: 500;
}

.tokensale-details-list > li {
    /*float: left;*/
    white-space: nowrap;
    display: table-cell;
    width: 400px;
}

.tokensale-details-list .tokensale-details-item {
    font-size: 1.65em;
    color: #fff;
    font-weight: 300;
}

.tokensale-plan {
    width: 100%;
}



.tokensale-plan > thead > tr {
    background-color: #5e626a;

}

.tokensale-plan > thead th {
    padding: 20px 0;
    text-align: center;
}

.tokensale-plan .tokensale-plan-title {
    font-size: 1.5em;
    color: #fff;
    /*margin-bottom: 10px;*/
    font-weight: 100;
}

.tokensale-plan .tokensale-plan-subtitle {
    font-size: 1em;
    color: #bdbec1;
    font-weight: 500;
    margin-top: 10px;
}

.tokensale-plan > tbody td{
    border-bottom: 1px solid #8c8f94;
    padding: 25px 0;
    color: #fff;
    font-size: 1.12em;
    text-align: center;
}

.tokensale-plan tbody th{
    color: #fff;
    font-weight: 100;
    font-size: 1.3em;
    border-bottom: 1px solid #8c8f94;
    padding: 25px 0;
    text-align: center;
}


.tokensale-plan th.thborder{
    border-right: 1px solid #8c8f94;
    /*border-left: 1px solid #8c8f94;*/
}

.tokensale-subtext {
    font-size: 0.95em;
    color: #bdbec1;
    font-weight: 400;
    margin-top: 8px;
}

.tokensale-distribution-chart {
    text-align: center;
    padding: 0 20%;
}

.tokensale-distribution-chart img{
    max-width: 100%;
}

.investors{
    display: none;
}
.team,
.roadmap,
.press{
   padding: 7em 0;
}

.investors,
.advisors {
    padding-bottom: 7em;
}

.team-title,
.investors-title,
.advisors-title,
.roadmap-title {
    text-align: center;
    margin-bottom: 50px;
}

.partners {
    /*border-top: 1px solid #ccc;*/
    padding: 7.5em 0;
}

.partners-con img{
    max-width: 100%;
}

.partners-title {
    text-align: center;
    margin-bottom: 20px;
}

.partners-subtitle {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 300;
    color: #999;
    padding: 0 20%;
    line-height: 1.5em;
}



ul.team-primary {
    margin-left: -10px;
    margin-right: -10px;
}


ul.team-primary > li{
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-bottom: 70px;
}


ul.team-primary .team-img {
    /*height: 320px;*/
}


.team-img {
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;
}

.team-img > img {
    display: block;
    width: 100%;
}

.team-img > a {
    position: absolute;
    bottom: 6px;
    right: 6px;
    transition: bottom 0.2s;
}

.team-img > a:hover {
    bottom: 10px;
}


.team-img > a > i{
    color: #fff;
    font-size: 26px;
}

.team-img > a > i.dark{
    color: #999;
}

.advisors .team-tit {
    /*margin-bottom: 10px;*/
}

.team-tit {
    font-weight: 300;
    text-align: center;
    line-height: 1.2em;
    font-size: 1.65em;
    margin-bottom: 5px;
}

.team-sub {
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #333;
}

.team-history {
    color: #7f7f7f;
}

.team-history > li{
    margin-bottom: 7px;
    line-height: 1.1em;
    text-align: center;
}

.team-primary-con {
    height: 195px;
    overflow: hidden;
}

.advisors .team-primary-con {
    height: 230px;
    overflow: hidden;
}



ul.team-secondary {
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -45px;
}


ul.team-secondary > li{
    float: left;
    width: 20%;
    padding: 0 8px;
    margin-bottom: 45px;
}


ul.team-secondary .team-img {
    /*height: 220px;*/
    margin-bottom: 10px;
}

ul.team-secondary .team-tit {
    font-size: 1.35em;
    font-weight: 300;
}

ul.team-secondary .team-sub {
    font-size: 1.05em;
    margin-bottom: 10px;
    font-weight: 400;
}

.team-secondary-con {
    height: 160px;
    overflow: hidden;
}


ul.team-secondary .team-img > a > i{
    color: #fff;
    font-size: 33px;
}

.tail {
    padding: 10px 0;
    background-color: #dfdfdf;
    text-align: center;

}

footer.main-footer {
    padding: 50px 0;
    text-align:center;
    color: #b4b4b4;
    background-color: #444;
    font-size: 0.9em;
}

footer.main-footer a{
    color: #dbdbdb;
}

footer.main-footer a:hover{
    text-decoration: underline;
}

.main-header {
    position: fixed;
    width: 100%;
    z-index: 2000;
    padding: 20px 0;
    background-color: transparent;
    transition: padding 0.2s;
}

.main-header.active {
    padding: 20px 0;
    background-color: rgba(0,177,206,1);
}

#notice {
    position: fixed;
    top: 80px;
    left: 0;
    height: 40px;
    width: 100%;
    background: #0f94aa;
    overflow: hidden;
    z-index: 1999;
    display: none;
}

#notice.active {
    display: block;
}

#notice .notice-con{
    color: #fff;
    line-height: 40px;
    font-weight: 300;
    font-size: 14px;
    overflow: hidden;
    position: relative;
    transition: top 0.4s;
    top: -100px;
}

#notice .notice-con.active{
    top: 0;
}



#notice .notice-con strong{
    font-weight: 700;
    margin-right: 10px;
    color: #fff072;
    letter-spacing: 1px;
}

.main-header h1{
    float: left;
    position: relative;
    top: -5px;
}

.main-header h1 img {
    height: 32px;
}

.main-header nav{
    float: left;
    margin-left: 50px;

}

.main-header nav > a{
    color: #fff;
    line-height: 40px;
    font-size: 0.95em;
    font-weight: 100;
    padding: 0 15px;
    letter-spacing: 1px;
}



.motion-logo {
    height: 340px;
    position: absolute;
    z-index: 1500;
    text-align: center;
    top: 35%;
    margin-top: -170px;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: scale(0.6);
    transition: transform 0.6s, opacity 0.3s, height 0.5s;
    transition-timing-function: ease-out;
}

.motion-logo img {
    height: 100%;
}

.motion-logo.active {
    opacity: 1;
    transform: scale(1);
}

.motion-title {
    display: none;

    position: absolute;
    z-index: 1500;
    font-size: 32px;
    font-weight: 100;
    text-align: center;
    color: #fff;
    top: 40%;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translate(0,7px);
    transition: transform 0.3s, opacity 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.4s;

}

.motion-title.active {
    opacity: 1;
    transform: translate(0px);
}


address {
    font-style: normal;
    margin-bottom: 20px;
}

.social {
    /*margin-bottom: 25px;*/
    float: right;
}

.social > a{
    display: inline-block;
    padding-top: 3px;
    line-height: 30px;
    font-size: 26px;
    margin: 0 11px;
    position: relative;
    top: 0;
    transition: top 0.2s;
    color: #888;
}



.social > a:hover{
    top: -4px;
}

/*.social > a.social-facebook{*/
    /*background-position: -30px 0;*/
/*}*/

/*.social > a.social-telegram{*/
    /*background-position: -90px 0;*/
/*}*/

/*.social > a.social-twitter{*/
    /*background-position: -120px 0;*/
/*}*/

/*.social > a.social-kakaotalk{*/
    /*background-position: -60px 0;*/
/*}*/

/*.social > a.social-email{*/
    /*background-position: 0 0;*/
/*}*/


.maintop {
    display: none;
}

.maintop img {
    display: block;
}

.main-header.mobile {
    position: fixed;
    background: #00b1ce;
}

#main.mobile {
    padding-top: 55px;
}

.main-header.mobile nav > a {
    color: #333;
}

.btn-menu {
    border: none;
    margin: 0;
    display: none;
}

.scrolldown {
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 100%;
    font-weight: 100;
    font-size: 1.3em;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
    animation-duration: 1.2s;
    animation-name: scrolldown_motion;
    animation-iteration-count: infinite;
    transition: opacity 0.3s;
    opacity: 1;
}

.scrolldown.hidden {
    opacity: 0;
}


@keyframes scrolldown_motion {
    0% {bottom: 5px;}
    20% {bottom: 10px;}
    40% {bottom: 5px;}
    100% {bottom: 5px;}
}


.scrolldown > i{
    font-size: 30px;
}

.rr-logo {
    margin-bottom: 20px;
}

.footer-subcon {
    float: left;
    line-height: 30px;
}

.footer-subcon > a{
    color: #666;
    font-weight: 300;
    margin-right: 10px;
    font-size: 0.9em;

}

.footer-subcon > a:hover{
    text-decoration: underline;
}

.footer-whitepaper {
    float: left;
}

.footer-whitepaper > select{
    height: 30px;
    color: #666;
    line-height: 33px;
    margin: 0;
    padding: 0;
    border: none;
}

.footer-whitepaper > span{
    color: #666;
    margin-right: 5px;
    line-height: 30px;
    font-weight: 200;
}

.footer-whitepaper > select{
    height: 30px;
}



.press {
    background: #f3f3f3;
}


.press-header {
    float: left;
    width: 20%;
    text-align: left;
}

.press-con {
    float: right;
    width: 75%;
}

ul.press-primary {
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: 24px;
}

ul.press-primary > li {
    width: 33.3%;
    float: left;
    padding-left: 12px;
    padding-right: 12px;
}

ul.press-primary > li a:hover .pressitem-desc{
    color: #249faa;
}


.pressitem-img {
    height: 175px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pressitem-thumb01 {
    background-image: url('../img/media/thumb_01.jpg');
}
.pressitem-thumb02 {
    background-image: url('../img/media/thumb_02.jpg');
}
.pressitem-thumb03 {
    background-image: url('../img/media/thumb_03.jpg');
}

.pressitem-con {
    height: 145px;
    overflow: hidden;
    padding: 10px 20px 20px;
    background: #fff;
}

.pressitem-media > img{
    height: 45px;
}

.pressitem-desc {
    color: #666;
    line-height: 1.4em;
    font-weight: 300;
}
.press-secondary {
    background: #fff;
    overflow: hidden;
    padding: 25px;
    width: 100%;
}

.press-secondary > a {
    float: left;
    width: 16.66%;
    padding: 10px;
}

.press-secondary > a:hover img {
    opacity: 1;
    filter: grayscale(0%);
}

.press-secondary > a > img{
    width: 100%;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: opacity 0.5s,filter 0.5s;
}

.press-subtitle {
    line-height: 1.5em;
    color: #999;
    font-weight: 300;
    margin-top: 25px;
}

.ico-progress {
    width: 49%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    /*background: rgba(255,255,255,0.6);*/
    background: #fff;
    position: relative;
    margin-bottom: 40px;

}

.ico-progress > div {
    position: absolute;
    top: 0;
}

.progressbar {
    overflow: hidden;
    height: 40px;
    width: 100%;
    background: #fff;
}

.progress-current {
    width: 150px;
    left: -160px;
    text-align: right;
}

.progress-title {
    color: #333;
    font-weight: 700;
}

.progress-title {
    color: #36335d;
    font-weight: 700;
    font-size: 1em;
}

.progressbar-current {
    float: left;
    width: 0;
    height: 40px;
    background-color: #19b9d3;
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
    -webkit-animation: cssProgressActive 2s linear infinite;
    -ms-animation: cssProgressActive 2s linear infinite;
    animation: cssProgressActive 2s linear infinite;
    /*background: #1d8cf4 url("../img/bg_progressbar.gif") left top repeat-x;*/
    transition: width 2s;
    text-align: right;
    font-weight: 200;
    color: #fff;
    font-size: 14px;
    padding-right: 10px;
    line-height: 40px;

}
@-webkit-keyframes cssProgressActive {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 40px;
    }
}
@-ms-keyframes cssProgressActive {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 40px;
    }
}
@keyframes cssProgressActive {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 40px;
    }
}

.progress-hard{
    width: 150px;
    right: -160px;
    text-align: left;
}

.progress-value {
    font-weight: 200;
    font-size: 20px;
}

#preico .timer{
    margin-bottom: 10px;
}

.timer {
    width: 50%;
    overflow: hidden;
    margin: 0 auto 80px;
}

.timer li{
    width: 23%;
    float: left;
    padding: 20px;
    margin: 0 1%;
    /*background: rgba(255,255,255,0.6);*/
    background: #fff;


}

.timer-title {
    font-size: 0.8em;
    color: #728294;
    margin-bottom: 4px;
}

.timer-str {
    font-size: 60px;
    font-weight: 100;
    line-height: 1;
}

#event {
    position: fixed;
    bottom: 20px;
    right: -300px;
    transition: right 0.3s ease-out;
    z-index: 10000;
}

#event.active {
    right: 20px;
}

#event-mobile {
    position: fixed;
    bottom: -200px;
    left: 0;
    transition: bottom 0.5s ease-out;
    z-index: 10000;
    width: 100%;
    height: 60px;
    background-color: #dd5a5a;
    padding-left: 100px;
    padding-top: 10px;
}

#event-mobile.active {
    bottom: 0;
}

#event-mobile > a {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}

#event-mobile > a >img{
    position: absolute;
    bottom: 0;
    left: 20px;
}


.doc-title {
    font-size: 40px;
    line-height: 1.05;
    font-weight: 500;
    letter-spacing: .008em;
    padding-top: 75px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
    color: #333;
}

.doc {
    font-weight: 300;
    line-height: 1.6em;
    color: #666;
}

.doc h2 {
    font-weight: 100;
    color: #333;
    padding: 40px 0 0;
}

.doc-header {
    padding: 10px 0;
}

.doc-header > a{
    color: #00b1ce;
    font-size: 14px;
}

.doc-footer {
    border-top: 1px solid #ccc;
    margin-top: 30px;
    padding: 20px 0;
    color: #999;
    font-size: 0.85em;
    text-align: center;
}

.header-social {
    float: right;
    margin-left: 20px;
}

.header-social > a {
    font-size: 28px;
    line-height: 40px;
    color: #fff;
    margin-left: 25px;
}

.footer-policy {
    padding-top: 5px;
}

footer.main-footer .footer-policy a{
    color: #777;
    font-size: 12px;
}



.bt-title {
    padding: 30px 0;
    font-size: 60px;
    font-weight: 100;
}

.bt-notice {
    color: #a17c55;
    background: #f3f1d9;
    border: 1px solid #dfd7a1;
    padding: 15px;
    font-size: 14px;
}

.bt-notice > p{
    margin: 0 0 10px 0;
}

.bt-notice > p:last-child {
    margin-bottom: 0;
}

.buytoken-wrapper {
    width: 920px;
    margin: 0 auto;
}

.bt-con {
    padding: 50px 0;
    /*margin-bottom: 50px;*/
    /*border-top: 1px solid #ccc;*/
    /*border-bottom: 1px solid #ccc;*/
}

.bta-eth {
    float: left;
    width: 45%;
    text-align: center;
}
.bta-eq {
    float: left;
    width: 10%;
    color: #666;
    font-weight: 100;
    font-size: 50px;
    text-align: center;
    line-height: 85px;
}
.bta-moc {
    float: left;
    width: 45%;
    text-align: center;
}

.bta-label {
    font-size: 15px;
    color: #999;
    margin-bottom: 5px;
}

.bta-input {
    background: #d0d9de;
    border-radius: 30px;
    height: 60px;
    font-size: 30px;
    font-weight: 100;
    color: #666;
    border: none;
    text-align: center;
    width: 100%;
}

.bta-moc-value {
    font-size: 45px;
    font-weight: 500;
    color: #0f94aa;
    line-height: 60px;
}


.bt-bottom {
    padding-top: 30px;
    text-align: center;
    font-size: 14px;
    color: #000;
}

#bonus-price {
    color: #0f94aa;
    font-weight: 500;
}


.bta-bonus-info {
    float: right;
    padding-left: 20px;
    margin: 0 auto;
    width: 30%;
    border-left: 1px solid #ccc;
    /*background: #d0d6dc;*/
}

.bta-bonus-info dl {
    padding: 0;
    margin: 0;
}
.bta-bonus-info dt {
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
}

.bta-bonus-info dd {
    margin: 0 0 15px 0;
    font-size: 16px;
}


.bt-cal {
    float: left;
    width: 70%;
    padding-right: 30px;
}

.bt {
    background: #eee url(../img/bg_ico.png) center bottom repeat-x;
    background-size: 100% auto;
}

.bt-header {
    background: #fff;
    padding: 15px 0;
    margin-bottom: 30px;
    /*border-bottom: 1px solid #ddd;*/
}

.bt-header  a{
    color: #00b1ce;
    font-size: 14px;
}

.bt-send {
    padding: 50px 15px;
    background: rgba(255,255,255,0.6);
}

.bt-footer {
    margin-top: 30px;
    padding: 20px 0;
    color: #333;
    font-size: 0.8em;
    text-align: center;
    font-weight: 400;
}

.bta-qr {
    float: left;
    margin-right: 20px;
}

.bta-qr img {
    width: 80px;
    height: 80px;
}

.bta-text {
    padding-top: 10px;
    width: auto;
    overflow: hidden;
}

.btn-copy {
    background: #eee;
    padding: 10px 30px;
    font-size: 14px;
    color: #666;
    border: 1px solid #ddd;
}

.bta-send {
    text-align: center;
    font-size: 20px;
}

.bta-helper {
    text-align: center;
}

.bta-helper > a{
    text-decoration: underline;
    color: #4996de;
}

.bta-address  {
    width: 500px;
    margin: 30px auto;
    padding: 10px;
    border: 1px solid #a7c8d8;
    background: #fff;
}
#wallet-address {
    border: none;
    display: block;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    color: #8aa1ac;
    margin-bottom: 10px;
    background: #fff;

}

.bta-send-input {
    text-align: center;
    width: 100px;
    color: #333;
    padding: 0 10px;
}

#copy-result {
    margin-left: 15px;
    color: #57c961;
    font-size: 13px;
    opacity: 0;
    transition: opacity 0.4s;

}

#copy-result.active {
    opacity: 1;
}

#send-eth-value {
    font-size: 24px;
    font-weight: 900;
    color: #ff444d;
}