html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  vertical-align: baseline;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit;
}

img, fieldset, a img {
  border: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
}

input[type="submit"],
button {
  cursor: pointer;

}

input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

ul{
  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.nice-select {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-weight: normal;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
}

.nice-select:after {
  content: '';
  display: block;
  pointer-events: none;
  position: absolute;
  top: 50%;
  -ms-transform-origin: center;
  transform-origin: center;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all 0.15s ease-in-out;
  width: 5px;
}

.nice-select.open:after {
  -ms-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
}

.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}

.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}

.nice-select.disabled:after {
  border-color: #cccccc;
}

.nice-select.wide {
  width: 100%;
}

.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}

.nice-select.right {
  float: right;
}

.nice-select.right .list {
  left: auto;
  right: 0;
}

.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}

.nice-select.small:after {
  height: 4px;
  width: 4px;
}

.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}

.nice-select .list {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -ms-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}

.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  transition: all 0.2s;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: #f6f6f6;
}

.nice-select .option.selected {
  font-weight: bold;
}

.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}

.no-csspointerevents .nice-select .list {
  display: none;
}

.no-csspointerevents .nice-select.open .list {
  display: block;
}

.icon-arrow-right {
  width: 1em;
  height: 1em;
  fill: #1e201d;
}

.icon-logo_dark {
  width: 6.4em;
  height: 1em;
  fill: #FFF;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("trutype");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto-Medium"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("trutype");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto-Bold"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("trutype");
}

/* @font-face {
  font-family: "Bender";
  src: url("fonts/Bender.otf") format("opentype"),
  url("fonts/Bender.woff") format("woff"),
  url("fonts/Bender.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
} */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #3f444d;
  overflow-x: hidden;
  width: 100vw;
}

main {
  font-family: 'Roboto', sans-serif;
  background-color:#fff;
  background-image: url("../img/bg_ico.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}



.page-wrap {
  padding-top: 125px;
  min-height: 100vh;
  width: 100%;
}

.page-wrap_flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.page-wrap_login {
  justify-content: space-around;
  height: 100vh;
}

.page-wrap_login a {
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
  color:#69bdff;
}

.page-wrap_login .container {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-content {
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.container {
  height: 100%;
  padding-top: 55px;
  padding-bottom: 30px;
  padding-right: 35px;
  padding-left: 65px;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.header-admin {
  color: #fff;
  background-color: #31bfd7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 15px;
  transition: .3s ease;
  z-index: 999;
}

.header-admin .header__menu {
  background-color: #00b1ce;
}

.header-admin .notice {
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 1;
}

.header-admin .notice__inner {
  transition-delay: .2s;
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.header-admin__main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
}

.header-admin__col {
  width: 20%;
}

.header-admin__col_left {
  width: 100%;
}

.header-admin__col_right {
  display: none;
}

.header-admin__menu-btn {
  position: absolute;
  top: 50%;
  right: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 30px;
  height: 25px;
  background-color: transparent;
  overflow: hidden;
  z-index: 10;
}

.header-admin__menu-btn.menu-opened span:first-child {
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.header-admin__menu-btn.menu-opened span:last-child {
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.header-admin__menu-btn.menu-opened span:nth-child(2) {
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header-admin__menu-btn.menu-opened span:nth-child(3) {
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header-admin__menu-btn span {
  position: absolute;
  display: block;
  height: 3px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  transition: .3s ease;
}

.header-admin__menu-btn span:first-child {
  top: 0;
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.header-admin__menu-btn span:nth-child(2) {
  top: calc(50% - 1.5px);
}

.header-admin__menu-btn span:nth-child(3) {
  top: calc(50% - 1.5px);
}

.header-admin__menu-btn span:last-child {
  bottom: 0;
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.header-admin__menu {
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: -15px;
  bottom: -20px;
  width: 100vw;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 0;
  background-color: #31bfd7;
  text-align: center;
  transition: .3s ease;
}

.header-admin__menu.is-opened {
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 1;
}

.header-admin__menu-item {
  position: relative;
  padding: 15px;
  font-size: 16px;
}

.header-admin__menu-item:hover:after, .header-admin__menu-item.active:after {
  -ms-transform: translateY(100%) scaleX(1);
  transform: translateY(100%) scaleX(1);
}

.header-admin__optional-content {
  margin-top: 15px;
}

.header-admin .socials__item {
  width: 25px;
  height: 30px;
}

.header-admin .socials__item + .header-admin .socials__item {
  margin-left: 10px;
}

.notice {
  position: absolute;
  left: 0;
  bottom: 0;
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 0;
  overflow: hidden;
  background-color: #0f94aa;
  width: 100%;
  padding: 10px 10px 10px 35px;
  display: none;
}

.notice__inner {
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
  transition: .3s ease-in;
  text-align: left;
}

.notice span {
  color: #fff77b;
  font-weight: 500;
}

.notice span.underlined {
  text-decoration: underline;
  font-weight: 700;
}

.notice span.underlined .icon {
  fill: #fff77b;
  vertical-align: middle;
  margin-left: 10px;
}

.socials {
  -ms-flex-pack: end;
  justify-content: flex-end;
  display: -ms-flexbox;
  display: flex;
}

.socials__item {
  width: 30px;
  height: 35px;
  opacity: 1;
  transition: .3s ease;
}

.socials__item:hover {
  opacity: .5;
}

.socials__item + .socials__item {
  margin-left: 20px;
}

.socials__item a {
  width: 100%;
  height: 100%;
  display: block;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.btn {
  font-size: 16px;
  color: #fff;
  text-align: center;
  display: block;
  padding: 13px 40px;
  border: 2px solid #00b1ce;
  background-color: #31bfd7;
  border-radius: 25px;
  font-weight: 400;
  text-decoration: none;
  transition: background-color .3s, color .3s;
}

.btn:hover {
  background-color: #fff;
  color: #31bfd7;
}

.btn_transp {
  background-color: transparent;
  border-color: #fff;
}

.login-btns {
  display: -ms-flexbox;
  display: flex;
}

.login-btn {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  background-color: #999999;
  color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 16px;
  padding: 2px 5px;
  transition: .3s ease;
}

.login-btn + .login-btn {
  margin-left: 10px;
}

.login-btn:hover {
  background-color: #000;
}

.visitor-email {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  position: relative;
  display: inline-block;
  z-index: 10;
}

.visitor-email:hover .visitor-email__dropdown {
  visibility: visible;
  opacity: 1;
}

.visitor-email__dropdown {
  position: absolute;
  bottom: 0;
  right: 0;
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s ease;
  transition-delay: .2s;
  padding: 0px 30px 10px 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 16px 53px -15px rgba(0, 0, 0, 0.5);
}

.visitor-email__dropdown-item + .visitor-email__dropdown-item {
  border-top: 2px solid #999999;
}

.visitor-email__dropdown-item button {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 28px;
  background-color: transparent;
  padding: 5px 0;
  display: block;
}

.visitor-email p {
  font-size: 28px;
}

.sidebar {
  width: 100%;
  background-color: #fff;
  font-size: 26px;
  position: fixed;
  z-index: 998;
  height: 100%;
  -ms-transform: translateX(calc(-100% + 40px));
  transform: translateX(calc(-100% + 40px));
  transition: .3s ease;
  padding-left: 15px;
}

.sidebar.opened {
  -ms-transform: translateX(-25px);
  transform: translateX(-25px);
}

.sidebar__mob-btn {
  position: absolute;
  right: 0;
  top: 20px;
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 2px solid #999999;
  border-radius: 50%;
  transition: .3s ease;
}

.sidebar__mob-btn.active, .sidebar__mob-btn:hover {
  background-color: #3f444d;
}

.sidebar__mob-btn.active span, .sidebar__mob-btn:hover span {
  background-color: #fff;
}

.sidebar__mob-btn span {
  display: block;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  background-color: #3f444d;
  border-radius: 50%;
  transition: .3s ease;
}

.sidebar__mob-btn span:first-child {
  top: 10px;
}

.sidebar__mob-btn span:nth-child(2) {
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sidebar__mob-btn span:last-child {
  bottom: 10px;
}

.sidebar__menu {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  padding: 20px;
}

.sidebar__menu-item {
  padding: 20px 0;
}

.sidebar__menu-item.active a:after, .sidebar__menu-item:hover a:after {
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.sidebar__menu-item a {
  position: relative;
}

.sidebar__menu-item a:after {
  content: '';
  position: absolute;
  bottom: -17px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #3f444d;
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  transition: .4s ease;
  -ms-transform-origin: left;
  transform-origin: left;
}

.table-block + .table-block {
  margin-top: 40px;
}

.table-block__title {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}

.table-block__table-wrapper {
  width: 100%;
  overflow-x: scroll;
  border-radius: 5px;
}

.table-block__table {
  background-color: #fff;
  border-radius: 5px;
  font-size: 16px;
  table-layout: fixed;
  width: 100%;
  min-width: 780px;
}

.table-block__table thead {
  background-color: #777a7e;
  color: #fff;
}

.table-block__table td {
  vertical-align: middle;
  text-align: center;
  padding: 5px 10px;
}

.table-block__table a {
  color: #3279f9;
  text-decoration: underline;
}

.table-block__table a:visited {
  color: #551A8B;
}

.table-block__table_scroll thead {
  border-bottom: 3px solid #3f444d;
  background-color: #fff;
  color: #3f444d;
}

.table-block__table_scroll thead td:last-child {
  padding-right: 27px;
}

.table-block__table_scroll tbody {
  display: block;
  overflow-y: auto;
  height: 200px;
}

.table-block__table_scroll tbody tr + tr {
  border-top: 1px solid #999999;
}

.table-block__table_scroll tr {
  height: 30px;
  display: block;
}

.table-block__table_scroll tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

.table-block__table_scroll td {
  float: left;
  text-align: left;
}

.table-block__table_scroll td:first-child {
  width: 20%;
}

.table-block__table_scroll td:nth-child(2) {
  width: 32%;
}

.table-block__table_scroll td:nth-child(3), .table-block__table_scroll td:nth-child(4), .table-block__table_scroll td:nth-child(5) {
  width: 16%;
}

.table-block__table_scroll tbody::-webkit-scrollbar {
  width: 8px;
}

.table-block__table_scroll tbody::-webkit-scrollbar-track {
  background-color: #9fa5af;
  border-radius: 5px;
}

.table-block__table_scroll tbody::-webkit-scrollbar-thumb {
  background-color: #3f444d;
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
}

.table-block__table_bordered td {
  border: 2px solid #3f444d;
  padding: 15px 20px;
}

.table-block__table_bonus td:first-child {
  width: 60px;
}

.table-block__table_bonus td span {
  background-color: #3f444d;
  color: #fff;
  border-radius: 5px;
  padding: 2px 4px;
  font-size: 16px;
}

.info {
  color: #fff;
  font-size: 16px;
  width: 100%;
}

.info * + * {
  margin-top: 20px;
}

.info__selected {
  margin-left: 15px;
  margin-bottom: 30px;
  border-left: 2px solid #fff;
  padding: 10px;
}

.info__link-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.info__link-wrap a {
  color: #3279f9;
  text-decoration: underline;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 75%;
  overflow: hidden;
}

.info__link-wrap button {
  display: block;
  margin-top: 0;
  margin-left: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  background-color: #fff;
  color: #3f444d;
  border-radius: 5px;
  font-size: 16px;
  padding: 2px 30px;
  transition: .3s ease;
}

.info__link-wrap button:hover {
  background-color: #999999;
  color: #fff;
}

.form {
  position: absolute;
  bottom: 50%;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 80%;
  max-width: 350px;
  text-align: center;
}

.form_text {
  max-width: 100%;
}

.form_multiple {
  bottom: 50%;
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

.form_multiple button {
  text-transform: uppercase;
}

.form_multiple > * + * {
  margin-top: 35px;
}

.form input {
  display: block;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #999999;
  padding: 8px 10px;
  font-size: 28px;
  font-family: 'Roboto';
  font-weight: normal;
  color: #3f444d;
}

.form button {
  display: inline-block;
  margin-top: 50px;
  background-color: #31bfd7;
  padding: 10px 20px;
  min-width: 220px;
  text-align: center;
  border-radius: 5px;
  font-family: 'Roboto';
  font-weight: lighter;
  font-size: 32px;
  text-transform: uppercase;
  color: #fff;
  transition: .3s ease;
}

.form button:hover {
  background-color: #999999;
}

.form p {
  color: #fff;
  font-size: 18px;
}

.form p + p {
  margin-top: 30px;
}

.purse__container {
  width: 90%;
  margin: 0 auto;
  color: #60646a;
}

.purse__container h1, .buy__container h1 {
  font-weight: 100;
  text-align: center;
  padding-top: 30px; 
  font-size: 48px;
}

.eth__purse {
  margin-top: 55px;
}

.etn__purse__number {
  width: 95%;
  padding: 5px;
  margin: 25px 0 25px 0;
  font-size: 20px;
  text-align: center;
  color: #3f444d;
  background-color: #fff;
  border-radius: 100px;
  border: 2px solid #3f444d;
}

.purse__rules {
  color: #60646a;
  padding-left: 10px;
  padding-bottom: 30px;
  list-style-type: 1;

}

.purse__rules li {
  display: list-item;
}

.purse__rules span {
  line-height: 3;
  color: #ff2a00;
}

.buy__container {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  color: #3f444d;
}

.eth__price {
  margin-top: 40px;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sample__date {
  margin-top: 18px;
}

.eth__week__price, .moc-eth__price {
  margin-top: 10px;
  text-align: center;
}

.eth__week__price, .moc-eth__price h2 {
  font-size: 24px;
}

.sample__date {
  font-size: 14px;
}

.eth__value {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 36px;
}


.usd-eth__value {
  margin-top: 18px; 
  border: 2px solid #3f444d;
  border-radius: 100px;
  min-width: 288px;
}

.moc-eth__value {
  margin-top: 18px;
  padding: 33px 30px 33px 30px;
  border: 2px solid #3f444d;
  border-radius: 100px;
  font-size: 30px;
  text-align: center;
  color: #3f444d;
  background-color: #fff;
  min-width: 288px;
}

.bonus {
  margin-top: 10px;
  font-size: 18px;
}

.calculator {
  width: 100%;
  text-align: center;
  margin-top: 60px;
  font-size: 18px;
}

#send__value {
  margin: 3px;
  padding: 0 5px 0 5px;
  font-family: "Bender", sans-serif;
  font-weight: normal;
  width: 165px;
  font-size: 24px;
  color: #3f444d;
  border-radius: 100px;
  height: 35px;
  text-align: center;
  border: 2px solid #3f444d;
}

#output__value {
  margin: 3px;
  padding: 0 5px 9px 5px;
  display: inline-block;
  width: 170px;
  font-size: 24px;
  color: #3f444d;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 100px;
  height: 35px;
  border: 2px solid #3f444d;
  overflow: hidden;
}

.agreements {
  margin-top: 90px;
  text-align: center;
  font-size: 18px;
}

.agreements a {
  color: #68a4ff;
}

.agreements a:hover {
  text-decoration: underline;
}

.form_next {
  text-align: center;
}

#bnt_next {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  cursor: default;
  border-radius: 100px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  background-color: #999999;
  margin-bottom: 75px;
  height: 50px;
  width: 200px;
  padding: 10px 75px 10px 75px;
  text-decoration: none;
}

.agree {
  margin: 30px;
  font-size: 24px;
  text-align: center;
}

#agreeCheckbox {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

.form_next_hidden {
  text-align: center;
}

#bnt_next_hidden {
  border-radius: 100px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  background-color: #00b1ce;
  margin-bottom: 75px;
  height: 50px;
  width: 200px;
  padding: 10px 75px 10px 75px;
  text-decoration: none;
}

#bnt_next_hidden:hover {
  background-color: #fff;
  border: 2px solid #00b1ce;
  color: #00b1ce;
  padding: 8px 73px 8px 73px;
}
#calculator_id{
        text-align: center;
    }
#including_bonus{
    font-size: 1em;
    line-height: 2em;
    
}
#tokensale_title {
    text-align: left;
    margin-top: 1em;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color:#545454;
}
#wallet-address {
    font-size: 1em;
    color:#282828;
    width:100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
#copy-wallet {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    background: #58c8da;
    padding: 1em;
    font-size: 1em;
    color: #fff;
    
}
@media only screen and (min-width: 300px) {
    #wallet-address {
    font-size: 0.4em;
    color:#282828;
    width:100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    }
  .eth__price {
    flex-direction: column;
  }
    
  .eth__week__price, .moc-eth__price {
    margin-top: 30px;
  }

  #bnt_next, #bnt_next_hidden {
    width: 200px;
  }

  .buy__container {
    width: 80%;
  }

  .etn__purse__number {
    padding: 15px;
    word-wrap: break-word;
  }
    .eth__value {
        font-size: 25px;
    }
    .moc-eth__value {
        font-size: 25px;
    }
    #form_section_id {
        margin-top: 0;
        padding-top: 0;
    }
    .desc_send {
        font-weight: 400;
        font-size: 1.0em;
    }
    #calculator_id{
        text-align: center;
        font-size: 16px;
        margin-top: 1em;
    }
    #send__value {
        width:100px;
    }
    #output__value {
        width: 100px;    
    }
    #including_bonus {
        margin-top: 0.3em;
        text-align: left;
    }
    #tokensale_title {
        font-size: 2.3em;
    }
}

@media only screen and (min-width: 550px) {
     #wallet-address {
    font-size: 0.4em;
    color:#282828;
    width:100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    }
    .eth__value {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 36px;
}
    #send__value {
        width:170px;
    }
    #output__value {
        width: 170px;    
    }
  .info {
    font-size: 26px;
  }

  .info__selected {
    padding: 10px 20px;
    margin-left: 25px;
    margin-bottom: 50px;
  }

  .info__link-wrap button {
    font-size: 26px;
  }

  .etn__purse__number {
    font-size: 25px;
  }

  .purse__container {
    font-family: 'Roboto', sans-serif;
    color:#60646a;
    width: 80%;
  }

  .eth__price {
    flex-direction: row;
  }

  .buy__container {
    width: 70%;
  }

  #bnt_next, #bnt_next__hidden {
    width: 200px;
  }

  .eth__week__price {
    width: 600px;
  }

  .moc-eth__price {
    width: 600px;
  }
     #tokensale_title {
        font-size: 48px;
    }
}

@media only screen and (min-width: 600px) {
     #wallet-address {
    font-size: 0.4em;
    color:#282828;
    width:100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    }
    .eth__value {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 36px;
}
      #send__value {
        width:170px;
    }
    #output__value {
        width: 170px;    
    }
#tokensale_title {
        font-size: 48px;
    }
  .form {
    width: 50%;
  }

  .form_text {
    width: 80%;
  }

  .purse__container {
    width: 80%;
  }

  .etn__purse__number {
    font-size: 25px;
  }
}
@media only screen and (max-width: 299px) {
   #wallet-address {
    font-size: 0.1em;
    color:#282828;
    width:100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    }
}

@media only screen and (min-width: 768px) {
     #wallet-address {
    font-size: 0.6em;
    color:#282828;
    width:100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    }
    .eth__value {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 36px;
}
      #send__value {
        width:170px;
    }
    #output__value {
        width: 170px;    
    }
#tokensale_title {
        font-size: 48px;
    }
  .header-admin {
    padding: 20px 35px;
  }

  .header-admin__menu {
    left: -35px;
  }

  .sidebar {
    padding-left: 35px;
  }

  .form p {
    font-size: 24px;
  }

  .etn__purse__number {
    font-size: 25px;
  }

  .purse__container {
    width: 60%;
  }

  .eth__week__price, .moc-eth__price {
    justify-content: space-around;
  }
}

@media only screen and (min-width: 1000px) {
     #wallet-address {
    font-size: 0.6em;
    color:#282828;
    width:100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    }
    .eth__value {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 36px;
}
      #send__value {
        width:170px;
    }
    #output__value {
        width: 170px;    
    }
#tokensale_title {
        font-size: 48px;
    }
  .page-wrap {
    padding-top: 164px;
  }

  .header-admin__main {
    -ms-flex-align: center;
    align-items: center;
  }

  .header-admin__col_left {
    text-align: center;
  }

  .header-admin__col_right {
    display: block;
    width: 27%;
  }

  .header-admin__menu-btn {
    display: none;
  }

  .header-admin__menu {
    opacity: 1;
    background-color: transparent;
    position: static;
    width: auto;
    margin-top: 20px;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-transform: none;
    transform: none;
    text-align: left;
  }

  .header-admin__menu-item {
    font-size: 14px;
    padding: 0;
  }

  .header-admin__menu-item + .header-admin__menu-item {
    margin-left: 25px;
  }

  .etn__purse__number {
    font-size: 28px;
  }

  .purse__container {
    width: 55%;
  }
  .eth__week__price, .moc-eth__price {
    width: 350px;
  }
}

@media only screen and (min-width: 1024px) {
     #wallet-address {
    font-size: 0.6em;
    color:#282828;
    width:100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    }
    .eth__value {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 36px;
}
      #send__value {
        width:170px;
    }
    #output__value {
        width: 170px;    
    }
#tokensale_title {
        font-size: 48px;
    }
  .page-content {
    width: calc(100% - 285px);
  }

  .container {
    padding-left: 25px;
  }

  .sidebar {
    position: static;
    height: auto;
    -ms-transform: none;
    transform: none;
    min-width: 285px;
    width: auto;
    padding-left: 0;
    overflow-y: hidden;
  }

  .sidebar__mob-btn {
    display: none;
  }

  .form button {
    margin-top: 10vh;
  }

  .etn__purse__number {
    font-size: 30px;
  }

  .purse__container {
    width: 60%;
  } 
}

@media only screen and (min-width: 1060px) {
    #wallet-address {
    font-size: 0.6em;
    color:#282828;
    width:100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    }
    .eth__value {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 36px;
}
      #send__value {
        width:170px;
    }
    #output__value {
        width: 170px;    
    }
#tokensale_title {
        font-size: 48px;
    }
  .page-wrap {
    padding-top: 160px;
  }

  .header-admin__col_left {
    width: 20%;
    text-align: left;
  }

  .header-admin__col_right {
    width: 20%;
  }

  .header-admin__menu-item:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 25px;
    background-color: #fff82d;
    -ms-transform: translateY(100%) scaleX(0);
    transform: translateY(100%) scaleX(0);
    -ms-transform-origin: left;
    transform-origin: left;
    transition: .3s ease;
  }

  .notice {
    display: block;
  }

  .socials__item {
    width: 25px;
    height: 30px;
  }

  .socials__item + .socials__item {
    margin-left: 10px;
  }

  .form {
    width: 25%;
  }

  .form_text {
    width: 80%;
  }

  .purse__container {
    width: 60%;
  }

  .eth__week__price, .moc-eth__price {
    width: 380px;
  }
}

@media only screen and (min-width: 1120px) {
    #wallet-address {
    font-size: 0.6em;
    color:#282828;
    width:100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    }
    .eth__value {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 36px;
}
      #send__value {
        width:170px;
    }
    #output__value {
        width: 170px;    
    }
#tokensale_title {
        font-size: 48px;
    }
  .table-block__table-wrapper {
    overflow-x: visible;
  }

  .purse__container {
    width: 60%;
  }
}

@media only screen and (min-width: 1366px) {
    #wallet-address {
    font-size: 0.6em;
    color:#282828;
    width:100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    }
    .eth__value {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 36px;
}
#tokensale_title {
        font-size: 48px;
    }
  .page-wrap {
    padding-top: 110px;
  }

  .header-admin {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header-admin__optional-content {
    margin-top: 0;
    margin-left: 25px;
  }

  .socials__item {
    width: 30px;
    height: 35px;
  }

  .socials__item + .socials__item {
    margin-left: 20px;
  }

  .purse__container {
    width: 55%;
  }
  
  .eth__week__price, .moc-eth__price {
    width: 450px;
  }
}

@media only screen and (min-width: 1680px) {
    #wallet-address {
    font-size: 0.8em;
    color:#282828;
    width:100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    }
    .eth__value {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 36px;
}
      #send__value {
        width:170px;
    }
    #output__value {
        width: 170px;    
    }
#tokensale_title {
        font-size: 48px;
    }
  .page-content {
    width: calc(100% - 350px);
  }

  .container {
    padding-right: 100px;
    padding-left: 65px;
  }

  .header-admin {
    padding-right: 100px;
  }

  .header-admin__optional-content {
    margin-left: 100px;
  }

  .sidebar {
    font-size: 36px;
    min-width: 350px;
  }

  .table-block__table {
    font-size: 24px;
  }

  .info {
    font-size: 36px;
  }

  .form button {
    font-size: 48px;
  }

  .purse__container {
    width: 50%;
  }

  .eth__week__price, .moc-eth__price {
    width: 550px;
  }
}

/*# sourceMappingURL=app.css.map */


.form_section {
    padding-top: 3em;
}
.desc_send {
    font-weight: 400;
    font-size: 1.4em;
}
.desc_term {
    font-size: 1.0em;
}

#send__value {
    border: none;
    border-bottom: 1px solid #58c8da;
    border-radius: 0;
    font-weight: 800;
    color:#58c8da;
}


.strong {
    font-weight: 800;
}

#agree_label {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

#bnt_next_hidden {
    background-color: #58c8da;
}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 0px;
    width: 0px;
    margin-left: 0px;
    margin-top: 0px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #58c8da;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

